<div class="mt-10">
<h2 class="mb-6 text-2xl font-extrabold text-gray-900">Import School/Track/Specialization CSV:</h2>
<%= form_with(url: import_school_specializations_path, method: "post", local: true, multipart: true) do %>
  <%= file_field_tag :file, class: "py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 inline-block" %>
  <%= submit_tag "Import", class: "py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 inline-block" %>
<% end %>
</div>