<h2 class="mt-10 mb-6 text-2xl font-extrabold text-gray-900">Edit school specialization records:</h2>

<table>
  <% SchoolSpecialization.all.each do |school_specialization| %>
    <tr class="mb-1">
      <td class="px-6 py-4"><%= school_specialization.display_name %></td>
      <td class="px-6 py-4"><%= school_specialization.spots_available %></td>
      <td class="px-6 py-4"> <%= button_to "Edit", edit_school_specialization_path(school_specialization), method: :get %></td>
    </tr>
  <% end %>
</table>

