<h1>Hi <%= @user.email %>,</h1>

<% if @assigned %>
    <p>
        Congratulations, you were assigned to:
    </p>
    <p>
        <%= @allocation_information %>
    </p>
<% else %>
    <p>
        Sadly you did not make it but don't worry, you will soon find information related to the new allocation that will happen in a few months.
    </p>
<% end %>

<p>
  You can find more information by clicking the following link:
  <%= link_to 'Choose Preferences', new_user_session_url %>
</p>

<p>Best regards,</p>
<p>School Admissions 2023</p>