<h2 class="mt-10 mb-2 text-2xl font-extrabold text-sap-black text-center">Your preferences</h2>

<div class="mt-10 relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-sap-white">
        <thead class="text-xs text-gray-700 uppercase bg-sap-black">
            <tr>
                <th scope="col" class="px-6 py-3">Preference</th>
                <th scope="col" class="px-6 py-3 text-center">Priority</th>
            </tr>
        </thead>
        <tbody>
            <% current_user.preferences.each do |preference| %>
                <tr class="bg-white border-b bg-sap-grey">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <%= SchoolSpecialization.find(preference.school_specialization_id).display_name if preference.school_specialization_id.present? %>
                    </th>
                    <td class="px-6 py-4 text-center">
                        <%= preference.priority %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
