<div class="max-w-screen-xl mx-auto px-5 bg-sap-blue3 min-h-screen mt-10">
    <div class="flex flex-col items-center">
        <h2 class="font-bold text-3xl mt-5 tracking-tight">
            HOW TO
        </h2>
        <p class="text-neutral-500 text-lg mt-3">
            A quick step by step description of the process
        </p>
    </div>
    <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
        <div class="py-5">
            <details class="group">
                <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                    <span> Step 1: Assess your grades</span>
                    <span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
            </span>
                </summary>
                <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                    You can view your admission results as well as any preferences you may have picked under the "Grades and preferences" section.
                </p>
            </details>
        </div>
        <div class="py-5">
            <details class="group">
                <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                    <span> Step 2: Pick the schools that best fit your future plan</span>
                    <span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
            </span>
                </summary>
                <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                    Under the 'Choose school preferences' tab, you can select the specializations and schools you want to attend. 
                    You can choose as many as you like, but make sure the priority order is precisely how you want it to be.
                </p>
            </details>
        </div>
        <div class="py-5">
            <details class="group">
                <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                    <span> Step 3: General check</span>
                    <span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
            </span>
                </summary>
                <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                    Verify everything to make sure your data is accurate.
                    Your grades and the choices you've chosen.
                </p>
            </details>
        </div>
        <div class="py-5">
            <details class="group">
                <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                    <span> Final notes: What else do i need to know?</span>
                    <span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
            </span>
                </summary>
                <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                    Once you've made your selections and verified that everything is accurate, you can sit back and wait for the allocation date. 
                    Once the school repartition is finished, you will receive an email notification.
                </p>
            </details>
        </div>
    </div>
</div>