<% content_for :main_classes, 'container mx-auto mt-25 px-5' %>

<div class="mt-10">
<h2 class="mb-6 text-2xl font-extrabold text-sap-black text-center">Import School/Track/Specialization CSV</h2>
  <div class="flex flex-col items-center mt-10">
    <%= form_with(url: school_specialization_import_index_path, method: "post", local: true, multipart: true) do %>
      <%= file_field_tag :file, class: "py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 inline-block" %>
      <div class="flex">
      <%= submit_tag "Import", class: "text-center w-32 h-10 py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-sap-white focus:outline-none bg-sap-grey rounded-lg border border-gray-200 hover:bg-sap-black hover:text-sap-blue focus:z-10 focus:ring-4 inline-block" %>
      </div>
    <% end %>
  </div>
</div>