.App {
  text-align: center;
}

.studentform {
  width: 50%;
  display: inline-block;
  align-items: center;
}

.noBullets {
  list-style-type: none;
  padding-left: 0;
}

.fullPageContainer {
  display: flex;
  height: calc(100vh - 56px);
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* LOGIN FORM */

.loginFormContainer {
  max-width: 500px;
  width: 70%;
  height: auto;
  margin: auto;
  padding: 50px;
  border-radius: 1em;
  box-shadow: 0 0.050em 0.35em black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginFormText {
  font-size: xx-large;
  font-weight: bold;
  margin-top: 1em;
}

.inputLable {
  display: block;
  text-align: start;
}

.inputGroup {
  width: 100%;
  margin-bottom: 1em;
}

.btn {
  width: 100%;
  height: 3em;
  margin-bottom: 2em;
}


@media (max-width: 600px) {
  .loginFormContainer {
      padding: 20px;
      width: 80%;
  }

  .loginFormText {
      font-size: x-large;
  }

  .btn {
      margin-bottom: 1em;
  }
}


/* HOME PAGE ACCORDION */

.pageInfo {
  padding-bottom: 5em;
}

.pageInfo h3 {
  font-weight: bolder;
}

.accordionGeneral {
  width: 70%;
}

.accordionGeneral button {
  font-weight: 600;
}


@media (max-width: 600px) {
  .pageInfo {
      padding-bottom: 2em;
  }

  .accordionGeneral {
      width: 90%;
  }
}

/* IMPORT DATA FORM */

.importFormContainer {
  max-width: 700px;
  width: 70%;
  height: auto;
  margin: auto;
  padding: 30px;
  border-radius: 1em;
  box-shadow: 0 0.050em 0.35em black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.importInfoLable {
  margin-bottom: 5px;
}

.importFormGroup {
  width: 70%;
}

.importExtensionLable {
  padding-top: 3em;
}

.importFormControl {
  margin-bottom: 30px;
}

.importBtn {
  margin-top: 10px;
}

@media (max-width: 600px) {
  .importFormContainer {
    width: 90%;
    padding: 15px;
  }

  .importFormGroup {
    width: 85%;
  }
}


/* CREATE SPECIALIZATION FORM */

.specializationCreationFrom {
  max-width: 700px;
  width: 70%;
  height: auto;
  margin: auto;
  padding: 30px;
  border-radius: 1em;
  box-shadow: 0 0.050em 0.35em black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.availableSpotsField {
  text-align: center;
  width: auto;
}

.specializationCreationFrom .availableSpotsField input[type='number'] {
  max-width: 120px !important;
  margin: auto !important;
}


/* INDEX TABLES */

.tableContainer {
  margin-top: 1em;
  box-shadow: 0 0.050em 0.35em black;
  width: 60%;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
}

.indexTable {
  width: 100%;
}

.indexTable td, .indexTable th {
  text-align: center;
  vertical-align: middle;
}

.tableHeader {
  text-decoration: none;
  color: white;
}


