<h1>Hello, <%= resource.name %>!</h1>

<p> We noticed you haven't chosen your preferences on our site yet. </p>

<p> hoosing your preferences helps us provide you with a more personalized experience.</p>

<p>To choose your preferences, just follow this link: <%= link_to 'Choose Preferences', preferences_url %>.</p>

<p>Thank you!</p>


