<p>Hello <%= @resource.email %>!</p>

<p>Welcome to our platform! An account has been created for you by the administrator. To get started, you'll need to set a password. You can do this through the link below.</p>

<p><%= link_to 'Set my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you believe this email has been sent to you in error, please ignore it. If you do not set a password, the account will remain inactive.</p>

<p>Once you've set your password, you'll be able to log in and start using our platform. We're excited to have you onboard!</p>

<p>Best regards,</p>
<p>[School Admissions 2023]</p>
